body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #E2E0C8;
  color: #A7B49E;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 40px;
}

form .header {
  width: 100%;
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
  color: #ff9494;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
}

.button {
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 10px;
  background-color: #b1bea8;
  color: #5C7285;
  border-radius: 12px;
  border: 2px solid #b1bea8;
  transition: 0.3s;
}

.button:hover {
  background-color: #bdcab3;
  color: #485866;
  border: 2px solid #bdcab3;
}

input[type="date"] {
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 10px;
  background-color: #b1bea8;
  color: #5C7285;
  border-radius: 12px;
  border: 2px solid #b1bea8;
}
